# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff

# Report figures are derived from sources; ignore if content identical
report/figures/*.pdf binary merge=binary
